.maindiv{
    background-image: linear-gradient(to right, #5A3F37 0%, #2C7744  51%, #5A3F37  100%);
    overflow: hidden;
}

.toolbar{
  background-image: linear-gradient(to right, #1c1c85 0%, #164856  51%, #070766  100%);
  color: #fff;
}

.example-spacer {
  flex: 1 1 auto;
}

img {
    width: 250px;
    height: 250px;
    position: relative;
}


.card {
    width: 290px;
    height: 450px;
    margin-bottom: 15px;
    transition: 0.3s ease-in-out;
    padding: 20px;
    margin: 50px;
    overflow: hidden;
    
    box-shadow: 15px 15px 5px 0px rgba(0,0,0,0.3);
    // background-color: antiquewhite;
    background-image: linear-gradient(to right, #e2e9f8 0%, #b7d0f3  51%, #e7eefa  100%);
}


* {
    box-sizing: border-box;
  }
  
  .column {
    float: left;
    width: 25%;
    padding: 0 10px;
  }
  
  
  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
      display: block;
      margin-bottom: 20px;
    }
  }


.aboutbut{
  position: absolute;
  top: 0;
  // left: 100;
  color: rgb(255, 255, 255);
  background: rgba(0,0,0,0.6);
  border-radius: 20px;
}

.about{
  position: absolute;
  background: rgba(0,0,0,0.6);
  // display: flex;
  // align-items: center;
  // justify-self: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
}

// .about:hover{
//   opacity: 1;
// }


.image-container {
  position: relative;
}

.icon-container {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  // opacity: 0;
  transition: opacity 0.3s ease-in-out;
  // cursor: pointer;
}

// .icon-container:hover {
//   opacity: 1;
// }

// .info-button {
//   position: absolute;
//   // top: 10px;
//   // right: 10px;
// }

.description {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 1.2rem;
  text-align: center;
}


.addcart{
    width: 100%;
    // font-size: larger;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: rgb(219, 218, 218);            
    box-shadow: 0 0 5px #eee;
    border-radius: 10px;
    display: block;
    // background-image: linear-gradient(to right, #642B73 0%, #C6426E  51%, #642B73  100%);
    background-image: linear-gradient(to right, #9c4a5f 0%, #3a6186  51%, #89253e  100%);
    // background-image: linear-gradient(to right, #41295a 0%, #2F0743  51%, #41295a  100%);
}

.addcart:hover {
  background-position: right center; 
  color: #fff;
  text-decoration: none;
}


.btn-grad {
  background-image: linear-gradient(to right, #DA22FF 0%, #9733EE  51%, #DA22FF  100%);
  margin: 10px;
  padding: 3px 35px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;            
  box-shadow: 0 0 5px #eee;
  border-radius: 10px;
  display: block;
}

.btn-grad:hover {
  background-position: right center; 
  color: #fff;
  text-decoration: none;
}








