<div class="container">
    <mat-toolbar class="toolbar" >
        <span>Cart</span>
        <span class="example-spacer"></span>
        <button mat-raised-button class="btn-grad" (click)="goShop()">GoToShopping  <mat-icon>shop</mat-icon></button>
        <button mat-raised-button class="btn-grad" (click)="logOut()">LogOut  <mat-icon>logoutt</mat-icon></button>
        
    </mat-toolbar>

    <div *ngIf="posts.length !=0" class="background">
        <div class="card">
            <mat-card>
                    <div fxLayout="column">
                        <table mat-table [dataSource]="dataSource" fxFlex="100%">
                            <ng-container matColumnDef="sl">
                                <th mat-header-cell *matHeaderCellDef>Sl No</th>
                                <td mat-cell *matCellDef="let element; let i= index"> {{i+1}} </td>
                            </ng-container>
                            <ng-container matColumnDef="image">
                                <th mat-header-cell *matHeaderCellDef>image</th>
                                <td mat-cell *matCellDef="let element; let i= index"><img [src]="element.url"/></td>
                            </ng-container>
                            <ng-container matColumnDef="name">
                                <th mat-header-cell *matHeaderCellDef>Name</th>
                                <td mat-cell *matCellDef="let element; let i= index"> {{element.name}} </td>
                            </ng-container>

                            <ng-container matColumnDef="quantity">
                                <th mat-header-cell *matHeaderCellDef>Quantity</th>
                                <td mat-cell *matCellDef="let element; let i= index"> 1 </td>
                            </ng-container>

                            <ng-container matColumnDef="price">
                                <th mat-header-cell *matHeaderCellDef>Price</th>
                                <td mat-cell *matCellDef="let element; let i= index"> {{element.price}} </td>
                            </ng-container>
                            
                            <ng-container matColumnDef="delete">
                                <th mat-header-cell *matHeaderCellDef> </th>
                                <td mat-cell *matCellDef="let element"> 
                                    <button mat-icon-button color="warn" (click)="onDelete(element.name)">
                                        <mat-icon>delete</mat-icon>
                                    </button> 
                                </td>
                            </ng-container>
        
        
                            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                
                        </table>
                        <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="5%" style="margin-top: 2%; ">
                            <div>
                                <h2>Total : {{price}}</h2>
                            </div>
                            <div>
                                <button mat-flat-button class="checkout" (click)="checkoutDailog()">Checkout</button>
                            </div>
                        </div>
                        <!-- <mat-paginator [pageSizeOptions]="[2, 5]"
                            showFirstLastButtons 
                            aria-label="Select page of periodic elements">
                        </mat-paginator>  -->
                    </div>
            </mat-card>
        </div>
        <br/>
    </div>

    <ng-container *ngIf="posts.length == 0">
        <div class="background">
            <div class="center">
                <h2>Your cart is empty..!</h2>
                <h3>Add Items</h3>
            </div>
        </div>
    </ng-container>
</div>