<div class="maindiv" fxLayoutAlign="center center">
    <mat-card>
        <div fxLayout="row" fxLayoutAlign="center center" style="height: 100%;" fxLayoutGap="10%">
            <div>
                <button mat-raised-button  class="btn-grad" (click)="userLogin()">User Login</button>
            </div>
            <div>
                <button mat-raised-button class="btn-grad" (click)="adminLoginDailog()">Admin Login</button>
            </div>
            <div>
                
            </div>
        </div>
    </mat-card>
</div>
