.middle1{
    width: 40%;
    margin-right: 1%;
}
.middle2{
    width: 60%;
}

.login{
    background-image: linear-gradient(to right, #AA076B 0%, #61045F  51%, #AA076B  100%);
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;            
    box-shadow: 0 0 5px #eee;
    border-radius: 10px;
    display: block;
}

.login:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
}